<% layout("/layouts/boilerplate") %>

<div class="container mt-5">
    <h2 class="mb-4">My Bookings</h2>

    <% if(bookings.length === 0){ %>
        <p>No bookings yet 😔</p>
    <% } %>

    <div class="row">
        <% for(let booking of bookings){ %>
            <div class="col-md-4 mb-4">
                <div class="card shadow p-3">

                    <img src="<%= booking.listing.image.url %>" 
                         class="card-img-top" 
                         style="height:200px; object-fit:cover;">

                    <div class="card-body">
                        <h5><%= booking.listing.title %></h5>

                        <p><b>User:</b> <%= booking.user.username %></p>
                        <p><b>Check In:</b> <%= booking.checkIn.toDateString() %></p>
                        <p><b>Check Out:</b> <%= booking.checkOut.toDateString() %></p>
                        <p><b>Guests:</b> <%= booking.guests %></p>
                    </div>

                </div>
            </div>
        <% } %>
    </div>
</div>
